body {
    display: grid;
    place-content: center;
  }
  h1 {
    position: relative;
    font: 5em sans-serif;
  }
  h1:before {
    content: "";
    display: block;
    background-color: rgb(93, 104, 231);
    position: absolute;
    top: 88px;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.3s ease;
    transform: scale(0);
  }
  
  h1:hover::before {
    transform: scale(1);
  }
  