
body{
    display: grid;
    place-content: center;
}
h1{
position: relative;
font: 5em sans-serif;
}
h1:hover::before{
    content: "";
    display: block;
    background-color: rgb(93, 104, 231);
    height: 1em;
    width: 1em;
    position: absolute;

}